.demo-page-common(){

  /* demo page styles */
  html, body{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    background: radial-gradient(center, #6076dc, #143946);
    color: #efefef;

    display: flex;
    width: 100%;
    align-items: center;
    flex-flow: column;
  }

  header{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
  }

  nav{
    margin: 20px 0;
  }

  .top{
    min-height: 50px;
    background: #2F2F2F;
  }
}

.demo-page-intro(){

  /* demo page styles : intro */
  .intro{
    background-color: #111;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/intro.jpg');
    background-size: cover;

    padding-top: 100px;
    min-height: 300px;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    .btn{
      background: rgba(255, 255, 255, 0.85);
      color: #777;
      border-radius: 5px;
      display: inline-block;
      text-decoration: none;
      padding: 7px 15px;
      transition: all 0.5s ease;
      margin: 5px;

      .fa{
        color: #d60361;
      }
    }

    .btn:hover{
      background: rgba(255, 255, 255, 1);
    }
  }

  .photo-credit{
    font-size: 11px;
    color: #eee;
    text-decoration: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }

}

.demo-page-description(){

  /* demo page styles : description */
  .description{
    min-height: 500px;
    max-width: 1200px;
  }

  h1{
    text-align: center;
    font-weight: 300;
    font-size: 27px;
  }

  h2{
    text-align: center;
    font-weight: 300;
    font-size: 22px;
  }

  strong{
    font-weight: 400;
  }

  .grid {
    display: flex;
    width: 100%;
    margin: 40px 0;
    padding: 0;

    li {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 31%;
      margin: 0 1% 15px 1%;
      padding: 15px 0;
      text-align: center;
      border-radius: 2px;
      transition: all 0.5s ease;
    }

    .fa {
      font-size: 40px;
      margin: 0 0 15px 0;
    }

    li:hover {
      background: rgba(50, 50, 50, 0.7);
    }
  }
}

.demo-page-docs(){

  .docs{
    min-height: 300px;
    width: 100%;
    background: #fff;
    color: #111;
  }
}

.demo-page-footer(){

  /* footer */
  footer{
    padding: 20px 0;
    background: #2F2F2F;
    color: #fff;
    font-size: 11px;
    text-align: center;
    width: 100%;
  }

  /* footer social menu */
  .footer-social-menu{
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    justify-content: center;
  }

  .footer-social-menu li{
    width: 28px;
    border-radius: 3px;
    margin: 0 10px 0 0;
    padding: 3px;
    text-align: center;
    color: #111;
  }

  .footer-social-menu a{
    color: #3b3b3b;
  }

  .footer-social-menu a:hover{
    color: #000;
  }

  .footer-social-menu li:first-child{
    width: auto;
    color: #eee;
  }

  .footer-social-menu li:nth-child(2){
    background-color: #35c97f;
  }

  .footer-social-menu li:nth-child(3){
    background-color: #ffbb00;
  }

  .footer-social-menu li:nth-child(4){
    background-color: #06afb8;
  }

  .footer-social-menu li:nth-child(5){
    background-color: #9f7bb8;
  }

  .footer-social-menu li:nth-child(6){
    background-color: #e63a29;
  }

}

.demo-page-common();
.demo-page-intro();
.demo-page-description();
.demo-page-docs();
.demo-page-footer();